<h1>ログイン</h1>

<%= form_with url: '/top/login_form',method: :post, local: true do |form| %>
  <div>
    <%= form.label :user_id, "ID" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :user_pass, "パスワード" %>
    <%= form.password_field :user_pass %>
  </div>
  
  <div>
    <%= form.label :user_pass_confirm, "パスワード確認" %>
    <%= form.password_field :user_pass_confirm %>
  </div>

  <div>
    <%= form.submit "ログイン" %>
  </div>

<% end %>
<p><%= link_to 'ユーザ登録', new_user_path %></p>

