<h1><%= @recipe.title %></h1>
<p><%= @recipe.content %></p>

<% if @recipe.image.attached? %>
  <%= image_tag rails_blob_path(@recipe.image, only_path: true) %>
<% else %>
  <p>画像はありません</p>
<% end %>

<%= link_to '検索結果に戻る', search_path(query: params[:query]) %>
<%= link_to 'トップ画面に戻る', root_path %>

