<!-- app/views/users/show.html.erb -->
<h1><%= @user.user_id %>のマイページ</h1>
<p>ID:
    <%= @user.user_id %>
</p>

<p>パスワード:
    <%= @user.user_pass %>
</p>
<p>以下レシピ</p>

<%= @recipes.each do |recipe| %>
<div>
    <%= image_tag recipe.image %>
    <h2><%= link_to recipe.title, recipe_path(recipe) %></h2>
    <p><%= recipe.content %></p>
</div>
<%= link_to 'レシピ削除',user_path(recipe), data: { turbo_method: :delete } %>
<%= link_to 'レシピ編集',edit_recipe_path(recipe) %>

<% end %>    
<%= link_to 'HOMEPAGE', home_index_path %>