<!-- app/views/users/show.html.erb -->
<h1><%= @user.user_id %>のマイページ</h1>
<p>ID:
    <%= @user.user_id %>
</p>

<p>パスワード:
    <%= @user.user_pass %>
</p>
<p>以下レシピ</p>

<%= @recipes.each do |e| %>
<%= link_to 'レシピ削除',user_pass(user), data: { turbo_method: :delete } %>
<%= link_to 'レシピ編集',edit_recipe(e) %>
<br>
<% end %>    
<%= link_to 'HOMEPAGE', home_index_path %>