<!-- app/views/home/index.html.erb -->
<h1>Welcome to Cooking Pad</h1>
<ul>
  <li><%= link_to 'マイページ', user_path(current_user) %></li>
  <li><%= link_to '新規レシピ追加', new_recipe_path %></li>
  
  <li><%='文字検索' %></li>
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
  
  <li><%= link_to '画像類似検索', image_search_path %></li>
  
  <li><%= 'カテゴリ検索' %></li>
  <div class="category_search_form">
   <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.collection_select :category, Category.all, :id, :name, prompt: "カテゴリを選択してください" %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  
</ul>

<%= link_to 'ログアウト', top_logout_path %>

<p><%= link_to 'ユーザ登録', new_user_path %></p>

