<!-- app/views/home/index.html.erb -->


<h1 class="pageTitle">Welcome to Cooking Pad</h1>
<nav>
  <ul>
    <li><%= link_to 'マイページ', user_path(current_user) %></li>
    <li><%= link_to '新規レシピ追加', new_recipe_path %></li>
  </ul>
</nav>
<h2>検索はこちらから</h2>
<ul>
  <li><%='文字検索' %></li>
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
  
<!-- %= link_to '画像類似検索', image_search_path  -->
  
  <li><%= 'カテゴリ検索' %></li>
  <div class="category_search_form">
    <%= form_with url: category_search_path, local: true, method: :get do |f| %>
      <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "カテゴリを選択してください" %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
</ul>

<div class="slide-container">
   <div class="slide-wrapper">
    <% @recipes.each do |recipe| %>
      <% if recipe.image.attached? %>
        <%= image_tag rails_blob_path(recipe.image, only_path: true) %>
      <% end %>
    <% end %>  
   </div>
   <div class="slide-wrapper">
    <% @recipes.each do |recipe| %>
      <% if recipe.image.attached? %>
        <%= image_tag rails_blob_path(recipe.image, only_path: true) %>
      <% end %>
    <% end %>  
   </div>
   <div class="slide-wrapper">
    <% @recipes.each do |recipe| %>
      <% if recipe.image.attached? %>
        <%= image_tag rails_blob_path(recipe.image, only_path: true) %>
      <% end %>
    <% end %>  
   </div>
</div>







<%= link_to 'ログアウト', top_logout_path %>

<p><%= link_to 'ユーザ登録', new_user_path %></p>

